#BigName {
  position: relative;
  top: 200px;
  text-align: center;
  margin-top: 75px;
}

#header{
    margin-bottom: 500px;
}

#nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    
}

section {
  padding-top: 80px;
  margin-bottom: 500px;
}

.nav-bar a {
    float: left;
    display: block;
    text-align: center;
    padding: 10px 12px;
  }


  @media (max-width: 600px) {
    body {
      background-color: red;
    }
  }

  #wrapper {
    margin-top: 75px;
}

#header-img {
  height: 50px;
  width: 50px;
}